<link rel="stylesheet" type="text/css" href="/css/pages/common.css">
<!-- head -->
<div class="headBlock">
    <div class="centerBlock">
        <!-- logo -->
        <img src="/img/01indexLOGO.png" class="headLogo" onclick="location.href='/'"/>
        <span class="forgetPassTitle">忘记密码</span>
    </div>
</div>
<!-- main -->
<div class="forgetPassMain">
    <img class="runBar" src="/img/43forgetPassBack2.png">
    <p class="sendMailSuccessTitle">
        <img src="/img/41operateSuccess.png">
        <span>已经发送验证邮件至：</span>
        <span class="receiveEmail"><?php echo @$email; ?></span>
    </p>
    <p class="sendMailSuccessWord">
        已向您注册邮箱发送验证邮件，请登录邮箱进行链接验证
    </p>
    <p class="sendMailSuccessSupplement">
        友情提示：验证邮件可能会被视为垃圾邮箱，可在回收站中查看
    </p>
</div>
<!-- foot -->
<div class="forgetFoot">
    <span>Copyright © 2017 Bibox.com All righets Reserved</span>
</div>
<script src="/js/pages/user/password.js"></script>
