<link rel="stylesheet" type="text/css" href="/css/pages/personCenter.css">
<!-- main -->
<div class="mainBlock">
    <div class="centerBlock">
        <div class="mb_layout_floatleft">
            <!-- left Nav -->
            <?php $this->partial('layout/indexleft'); ?>
        </div>
        <div class="mb_layout_floatRight">
            <div class="mainContentBlock">
                <p class="titleBlock">
                    <span>您当前所在位置：个人中心-身份认证</span>
                </p>
                <div class="identitySubmitAfterContent">
                    <p class="title">
                        <img src="../img/28identityCheckTitleIcon.png">
                        <span>身份认证</span>
                    </p>
                    <p class="progressBar">
                        <img src="../img/32identityCheckResultNopass.png">
                    </p>
                    <div class="resultBlock">
                        <img src="../img/20identityNoPass.png">
                        <p class="resultTitle">抱歉~审核未通过！</p>
                        <p class="resultWords">审核未通过，请<span class="reForm" onclick="location.href='personCenter_identityInfo.html'">重新认证</span>。</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mb_layout_clearBoth"></div>
    </div>
</div>
