<link rel="stylesheet" type="text/css" href="/css/pages/accountInfo.css">
<!-- main -->
<div class="mainBlock">
    <div class="centerBlock">
        <div class="mb_layout_floatleft">
            <!-- left Nav -->
            <?php $this->partial('layout/indexleft'); ?>
        </div>
        <div class="mb_layout_floatRight">
            <div class="mainContentBlock">
                <p class="titleBlock">
                    <span>您当前所在位置：账户信息-转入</span>
                    <span class="mb_layout_floatRight conversionRate">1元=1z数据</span>
                </p>
                <div class="rollInSuccessContent">
                    <p class="successTitle">
                        <img src="/img/46rollInTitleIcon.png">
                        <span>转入申请提交成功！</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="mb_layout_clearBoth"></div>
    </div>
</div>
