<link rel="stylesheet" type="text/css" href="/css/pages/accountInfo.css">
<!-- main -->
<div class="mainBlock">
    <div class="centerBlock">
        <div class="mb_layout_floatleft">
            <!-- left Nav -->
            <?php $this->partial('layout/indexleft'); ?>
        </div>
        <div class="mb_layout_floatRight">
            <div class="mainContentBlock">
                <p class="titleBlock">
                    <span>您当前所在位置：账户信息-转出</span>
                    <span class="mb_layout_floatRight conversionRate">1z数据=0.99元</span>
                </p>
                <div class="rollOutSuccessContent">
                    <p class="successTitle">
                        <img src="/img/21rollOutTitleIcon.png">
                        <span>转出申请提交成功！</span>
                    </p>
                    <p class="successExplain">
                        <span>提交成功，预计24小时内完成，请耐心等待。</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="mb_layout_clearBoth"></div>
    </div>
</div>
