<link rel="stylesheet" type="text/css" href="/css/pages/common.css">
<div class="loginRegistBack">
    <img src="/img/35loginRegistLogo.png" class="logo" onclick="location.href='/'">
    <div class="mainDialog registSuccessBlock">
        <p class="registSuccessTitle">
            <img src="/img/41operateSuccess.png">
            <span>注册成功</span>
        </p>
        <p class="registSuccessWord">
            <span>登录后您可以在个人中心修改个人资料</span>
        </p>
        <p class="registSuccessBtn">
            <input type="button" value="去登录" onclick="location.href='/user/login'">
        </p>
    </div>
</div>
<p class="loginRegistFoot">
    <span>Copyright © 2017 Bibox.com All righets Reserved</span>
</p>