<link rel="stylesheet" type="text/css" href="/css/pages/common.css">
<div class="loginRegistBack">
    <img src="/img/35loginRegistLogo.png" class="logo" onclick="location.href='/'">
    <div class="mainDialog registBlock">
        <p class="title">
            <span>用户注册</span>
        </p>
        <ul class="formList">
            <li class="textRow">
                <input type="text" class="userName" placeholder="请输入注册邮箱" id="email">
            </li>
            <li class="textRow">
                <input type="password" class="password" placeholder="请输入密码"  id="password">
            </li>
            <li class="textRow">
                <input type="password" class="password" placeholder="请再次输入密码"  id="passwordAgain">
            </li>
            <li class="textRow lastText">
                <input type="text" class="checkCode" placeholder="请输入验证码"  id="imgCode">
                <img class="checkCodeImg" src="<?php echo @$codeUrl; ?>">
            </li>
            <li class="wrongMsgRow">
            
            </li>
            <li class="linkRow">
                <input type="checkbox" id="clause">
                <span>我同意遵守<span class="blueSpan">《Z数据兑换平台的服务条款》</span></span>
            </li>
            <li class="btnRow">
                <input type="button" value="注册"  id="register">
            </li>
            <input type="hidden" name="tokenName" value="<?php echo $this->security->getTokenKey() ?>" />
            <input type="hidden" name="token" value="<?php echo $this->security->getToken() ?>" />
            <li class="linkRow">
						<span class="mb_layout_floatRight">已有账号，
						<span class="blueSpan" onclick="location.href='/user/login'">去登录</span></span>
                <p class="mb_layout_clearBoth"></p>
            </li>
        </ul>
    </div>
</div>
<p class="loginRegistFoot">
    <span>Copyright © 2017 Bibox.com All righets Reserved</span>
</p>

<script src="/js/pages/user/register.js"></script>